.data {
    margin-top: 8rem;
    margin-bottom: 2rem;
    text-align: center;



}

.htag h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3.5rem;

    margin-top: 2rem;


}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-right: 3rem;
    padding-left: 3rem;
    gap: 4rem;
   
}
.CommanCardMain{
    position: relative;
}

.storyNotFound {
    font-family: DM Sans;
    margin-top: 8rem;
    margin-bottom: 9rem;
    text-align: center;

}
.storyNotFound h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 39.06px;
    color: #8E8E8E;
}

.editBtn{
    align-items: center;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 4px 15px 0 #00000040;
    color: #000;
    cursor: pointer;
    display: flex;
    font-size: 1.4rem;
    font-weight: 700;
    height: 34px;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translate(-50%, -50%);
    width: 79px;
}


@media screen and (max-width: 780px) {
  .main{
    grid-template-columns: 1fr;
  }
  .data{
    margin-top: 3rem;
  }
}