.data{
    margin-top: 8rem; 
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: center;
}
.htag h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
   
   

} 
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
   
  
   
  
  
} 
 
