.data{
   margin-top: 3rem; 
   margin-right: 1rem;
   margin-left: 1rem;
   text-align: center;
}
.htag h2{
   font-size: 3rem;
   font-weight: 700;
   margin-bottom: 2rem;
  
  

} 



.styleImg{
   
   
   overflow: hidden;
 
   
 
}
.container{
   cursor: pointer;
   position: relative;
 
  
}

  .main{
   /* background-size: cover; */
   background-size: 100% 100%;
    border-radius: .8rem;
    height: 45rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;

  }

.storyInfo{
   text-wrap: wrap;
   color: #ffffff;
   font-size: 2rem;
   text-align: left;
   font-weight: 700;
   margin-bottom: 20px;
   padding: 0 2rem;
   position: absolute;
   top: 78%;
  
}
.storyInfo p{
   
   margin: 0 auto; 
   font-size: 1rem;
   max-width: 100%; 
  
  
}
.NoBookMark {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 4rem;
}

.NoBookMark p {
   color: #ff7373;
   font-size: 2rem;
   font-weight: 700;


   text-align: center;
}

.NoBookMark img {
   width: 55rem;
}

.backHome {
   align-items: center;
   background: #ff7373;
   border-radius: 2rem;
   color: #fff;
   cursor: pointer;
   display: flex;
   font-family: DM Sans;
   font-size: 1.5rem;
   font-weight: 700;
   height: 4.5rem;
   justify-content: center;
   margin-right: 3.7rem;
   text-align: center;
   width: 13.6rem;
   text-decoration: none;
}


@media screen and (max-width: 780px) {
   .bookMarkMain {
       grid-template-columns: 1fr;
      
   }

   .NoBookMark img {
       width: 35rem;
   }
   .container{
      margin-top: 1ewm;
   }
   

}




