/* RegisterModal.module.css */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    background-color: #000000e6;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-shadow: 0px 4px 30px 0px #FFFFFF40;
    gap: 10rem;
    background-color: #000000e6;





}

.modal {
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px #0000004d;

    max-width: 700px;
    /* Adjust the max width as needed */
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    width: 34rem;
    height: 60rem;


    position: relative;
}

.imageDiv {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  
}

.prograssbar {
    background-color: initial;
    display: flex;
    gap: 9.23px;
    justify-content: space-between;

    margin-top: 31.66px;
    padding: 0 15.79px;
    position: absolute;
    right: 2px;
    top: -4px;
    width: 100%;
    z-index: 1;
}

.elementChild {
    flex: 1 1 0%;
    height: 4px;
   
}

.remove {
    color: #ffffff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 4rem;
}

.info {
    position: absolute;
    bottom: 5rem;
    width: 284.918px;
    max-height: 30rem;
    z-index: 1;
    overflow: hidden;
    text-align: left;
}
.info h2{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}
.info p{
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    margin-top: .5rem;
}

.remove img {
    cursor: pointer;

    z-index: 1;
}
.save{
    bottom: 3%;
    cursor: pointer;
   
    left: -2%;
    position: absolute;
    right: 5%;
    display: flex;
    gap: 50%;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 1;
    .save-icon {
        filter: hue-rotate(210deg); 
    }
}
.like{
    margin-right: -1rem;
}
.likeCount{
 
    color: #fff;
    font-size: 9px;
    font-weight: 700;
    margin-right: -20px;
    z-index: 1;
}
.likeAndCount{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    
}
.toastcontainer{
    top: 23rem !important;
}
.desktopContainer{
    top: 40rem !important;
}


@media screen and (max-width: 700px) {
    .info{
        width: 90%;
    }
    .imageDiv{
        text-align: center;
    }
    .modal{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .save{
        gap: 60%;
        
    }
    .likeAndCount{
        gap: 2rem;
    }
}

@media screen and (max-width: 350px) {
    
    .likeAndCount{
        gap: 1rem;
    }
    .save{
        gap: 50%;
    }
}
