/* .categoryCard{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr  1fr 1fr 1fr;
    justify-content: space-around;
} */

.categoryCard {
    display: flex;
    gap: 3.5rem;
   
 
    white-space: nowrap;
    justify-content: space-around;
    padding: 3.3rem 3.9rem 0 4.3rem;
}
.allCategoryCard{
  width: 15vw;
}