/* .categoryCard{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr  1fr 1fr 1fr;
    justify-content: space-around;
} */

.categoryCard {
    display: flex;
    gap: 3.5rem;
    overflow-x: auto;
 
    white-space: nowrap;
    justify-content: space-around;
    padding: 3.3rem 3.9rem 0 4.3rem;
}
.allCategoryCard{
  width: 235px;
  
}
.categoryCard{
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
 
}
.categoryCard::-webkit-scrollbar {
  display: none;
}
/* .activeCategory{
  border: 5px solid #00acd2;
    border-radius: 1.6rem;
} */
/* media query */
@media screen and (max-width: 780px) {
 
  .allCategoryCard{
    width: 180px;
  }
  
}